body {
    padding-top: 80px;
  }
  
  .navbar {
    font-size: 20px;
    padding: 10px 20px;
  }
  
  .navbar-nav {
    display: flex;
    gap: 20px;
  }
  
  .btn-out {
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 5px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
  }
  
  .btn-out:hover {
    background-color: #ff4500;
  }